*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.logo{
    width: 120px;
    padding: 0;
    margin: 0;
}
nav{
    background: transparent;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;

}
nav ul {
    list-style: none;
    display: flex;
    font-size: 20px;
}
nav ul li{
    padding: 0 20px;
    color: white;
}
nav ul li:hover{
    color: rgb(0, 68, 255);
}
nav ul li a {
    text-decoration: none;
    color: white;
    
    transition: 0.3s;
    
}
nav ul li a:hover{}
.container{
    background-image:url(/images/background.jpg) ;
    height: 100vh;
    width: 100%;
    background-size: cover;

}
.text-box{
    color:rgb(38, 185, 204);
    position: absolute;
    bottom: 8%;
    margin-left: 0px;
}
.text-box p{
 font-size: 30px;
 font-weight: 600;

}
.text-box h1{
    font-size: 100px;
    line-height: 160px;
    color: transparent;
    -webkit-text-stroke: 1px #fff ;
    background: url(/images/stroke3.png) ;
    -webkit-background-clip: text;
   background-position: 0 0;
   animation: back 20s linear infinite;
    
}
@keyframes back{
    100%{ 
        background-position: 2000px 0;
    }
    }
   
.text-box h3{
    font-size: 30px;
    font-weight: 600;
}
.text-box .buttons{
    display:flex ;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px
}
.text-box a{
    color: rgb(38, 65, 139);
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid rgb(72, 23, 187);
}
